@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Roboto Slab', sans-serif;
  box-sizing: border-box;
  font-weight: 500;
}

.body-container {
  background-color: #fa498d;
  color: black;
  min-height: 100vh;
}
